html {
	height:100%;
}
body {
	margin:0px;
	font-family:Arial;
	font-size:10px;
	height:100%;
}

.thumb {
	width:60px;
	height:70px;
	margin:1px;
	padding:2px;
	border:1px solid #d2d2d2;
	overflow:hidden;
	cursor:default;
	text-align:center;
}
.selected {
	background:#000;
	color:#FFF;
}
#nav {
	padding:10px;
	background:#f4f4f4;
	border-bottom:1px solid #d2d2d2;
}
#folders_top {
	background:#f4f4f4;
	border-bottom:1px solid #d2d2d2;
	height:40px;
	text-align:center;
	vertical-align:middle;
}
#folders_top img {
	margin-top:5px;
}
#files {
	padding:0px;
	margin:10px;
	font-size:9px;
	list-style:none;
}
#files li {
	overflow:hidden;
}
#files li p {
	white-space:nowrap;
	height:12px;
	margin:0px;
	overflow:hidden;
}
#nav form {
	margin:0px;
}
#path {
	margin:10px;
}
.edittreeitem {
	border:1px solid #BBB;
	color:#666;
	font-size:10px;
	width:120px;
	vertical-align:middle;
}
#module_tree_files_c {
	margin-left:-15px;
}

#gallery_area {
	height:150px;
	width:100%;
	position:absolute;
	bottom:0px;
}
#gallery_area_title {
	padding:10px;
	border-top:1px solid #d2d2d2;
	border-bottom:1px solid #d2d2d2;
	background:#f4f4f4;
}
#gallery_area_content {
	padding:10px;
}


#edit_image {
	margin:10px;
}
#edit_image img {
	border:1px solid #F00;
}

#img_nav {
	margin-bottom:15px;
}
#img_nav tr td {
	border-bottom:1px solid #999;
	text-align:center;
	padding:5px;
	font-weight:bold;
	color:#999;
	cursor:pointer;
}
#img_nav tr td.a {
	border:1px solid #999;
	border-bottom:none !important;
	color:#333;
}

#cropbox_area {
	max-width:800px;
	max-height:650px;
	overflow:auto;
}

#preview_container {
	width:200px;
	overflow:hidden;
}
#preview {
	width:200px;
}
#preview_box {
	position:absolute;
	width:220px;
	top:70px;
	right:50px;
	background:#999;
	margin:5px;
	padding:5px;
	color:#FFF;
	z-index:500;
}
#preview_box_drag {
	background:#666;
	color:#FFF;
	font-weight:bold;
	padding:3px;
	cursor:move;
}
#preview_box_ {
	width:200px;
}

#playground { 
	overflow:hidden;
}
.ui-selecting {
  background-color: #eee;
}
.ui-selected {
  background-color: #E6F7D4;
}
#proxy { 
	border: 1px dotted black;
	position:absolute;
	z-index:1000;
	display:none;
}



.fsUploadProgress {
	
}
#btn_upload {
	background:#DDD;
}

.progressWrapper {
	position:absolute;
	z-index:1000;
	width: 357px;
	overflow: hidden;
}

.progressContainer {
	margin: 5px;
	padding: 4px;
	border: solid 1px #E8E8E8;
	background-color: #F7F7F7;
	overflow: hidden;
}
/* Message */
.message {
	margin: 1em 0;
	padding: 10px 20px;
	border: solid 1px #FFDD99;
	background-color: #FFFFCC;
	overflow: hidden;
}
/* Error */
.red {
	border: solid 1px #B50000;
	background-color: #FFEBEB;
}

/* Current */
.green {
	border: solid 1px #DDF0DD;
	background-color: #EBFFEB;
}

/* Complete */
.blue {
	border: solid 1px #CEE2F2;
	background-color: #F0F5FF;
}

.progressName {
	font-size: 8pt;
	font-weight: 700;
	color: #555;
	width: 323px;
	height: 14px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
}

.progressBarInProgress,
.progressBarComplete,
.progressBarError {
	font-size: 0;
	width: 0%;
	height: 2px;
	background-color: blue;
	margin-top: 2px;
}

.progressBarComplete {
	width: 100%;
	background-color: green;
	visibility: hidden;
}

.progressBarError {
	width: 100%;
	background-color: red;
	visibility: hidden;
}

.progressBarStatus {
	margin-top: 2px;
	width: 337px;
	font-size: 7pt;
	font-family: Arial;
	text-align: left;
	white-space: nowrap;
}

a.progressCancel {
	font-size: 0;
	display: block;
	height: 14px;
	width: 14px;
	background-image: url(../images/cancelbutton.gif);
	background-repeat: no-repeat;
	background-position: -14px 0px;
	float: right;
}

a.progressCancel:hover {
	background-position: 0px 0px;
}


/* -- SWFUpload Object Styles ------------------------------- */
.swfupload {
	vertical-align: top;
}
