form {
	margin:0px;
}
.fo_text {
	border:1px solid #D4D4D4;
	color:#9E9E9E;
	font-size:11px;
	font-family:Tahoma;
	width:300px;
	vertical-align:middle;
}
.fo_password {
	width:300px;
	border:1px solid #D4D4D4;
	color:#9E9E9E;
	font-size:11px;
	font-family:Tahoma;
	vertical-align:middle;
}
.fo_submit {
	border:none;
	background:url('../images/button_bgr.gif') no-repeat #8A8A8A;
	color:#FDFCEB;
	text-shadow:1px 1px 0 #000; 
	font-size:11px;
	font-family:Tahoma;
	height:20px;
	vertical-align:middle;
}
.fo_textarea {
	border:1px solid #D4D4D4;
	color:#9E9E9E;
	font-size:11px;
	font-family:Tahoma;
	width:300px;
	height:100px;
}
.fo_file {
	border:1px solid #D4D4D4;
	color:#9E9E9E;
	font-size:11px;
	font-family:Tahoma;
	width:300px;
}
.fo_radio_ {
	border:1px solid #D4D4D4;
	color:#9E9E9E;
	font-size:11px;
	font-family:Tahoma;
	width:300px;
}
.fo_checkbox {
	color:#9E9E9E;
	font-size:11px;
	font-family:Tahoma;
}
.fo_image {
	border:1px solid #D4D4D4;
	color:#9E9E9E;
	font-size:11px;
	font-family:Tahoma;
	width:300px;
}
.fo_html {
	border:1px solid #D4D4D4;
	color:#9E9E9E;
	font-size:11px;
	font-family:Tahoma;
	width:300px;
	background-color:#FAEBD9;
}
.fo_date {
	border:1px solid #D4D4D4;
	color:#9E9E9E;
	font-size:11px;
	font-family:Tahoma;
	width:300px;
	background-color:#FAEBD9;
}
.fo_select {
	border:1px solid #D4D4D4;
	color:#9E9E9E;
	font-size:11px;
	font-family:Tahoma;
}
.fo_autocomplete {
	border:1px solid #D4D4D4;
	color:#9E9E9E;
	font-size:11px;
	font-family:Tahoma;
	width:300px;
	vertical-align:middle;	
}
.fo_checkbox_group {
	color:#9E9E9E;
	font-size:11px;
	font-family:Tahoma;
}
.fo_tree {
	border:1px solid #D4D4D4;
	color:#9E9E9E;
	font-size:11px;
	font-family:Tahoma;
}
.fo_list {
	border:1px solid #D4D4D4;
	color:#9E9E9E;
	font-size:11px;
	font-family:Tahoma;
}
.formElementsField {
	padding:3px;
	height:100%;
	margin:2px;
	border:1px solid #E2E2E2;
	border-bottom:1px solid #CCCCCC;
	border-right:1px solid #CCCCCC;
	background:url('../images/form_element_bgr.jpg') bottom right no-repeat #F3F3F3;
}
.formElementsField div {
	padding:0px;
	margin:0px;
}
.formElementsFieldWYSIWYG .formElementsField {
	margin:0px !important;
	border:none !important;
	background:none !important;
}
.formElementsFieldWYSIWYG {
	padding:0px;
	margin:2px;
	border:1px solid #E2E2E2;
	border-bottom:1px solid #CCCCCC;
	border-right:1px solid #CCCCCC;
	background:url('../images/form_element_bgr.jpg') bottom right no-repeat #F3F3F3;
}
.txt, .txt label {
	color:#333;
}
.error, .error label {
	color:#F56228;
}
.error_message {
	color:#F56228;
	font-size:9px;
}
.formContent .edited {
	/*background:#E1F2D5;*/
	border:1px solid #F6BA65 !important;
	margin:2px;
}
.readonly {
	background:#F3F3F3;
}


.autocomplete_values {
	padding:2px !important;
	border:1px solid #CCC;
	background:#DDD;
	position:relative;
	margin:2px 0px !important;
	width:300px;
}
.autocomplete_values a {
	text-decoration:none;
	border-bottom:1px dotted #666;
}
.autocomplete_values a.close {
	position:absolute;
	right:3px;
	top:3px;
	font-weight:bold;
	text-decoration:none;
	border-bottom:none;
}
.autocomplete_selector {
	z-index:10;
	font-size:11px;
	border:1px solid #DDD;
}
