.grid_area {
	width:100%;
	/*border-collapse:collapse;*/
}
.grid_area thead {
	border:none;
}
.grid_area tbody {
}
.grid_area tbody tr {
	
}
.grid_area tr.item {
	border:0px solid #F00;
}
.grid_area tr.item td.column, .grid_area tr.header td.column {
	overflow:hidden;
	/*float:left;*/
	padding:2px;
	margin:0px;
}
.grid_area tr.item td.column {
	border:1px solid #E8E8E8;
	border-bottom:1px solid #DDD;
	border-right:1px solid #DDD;
	background:#F3F3F3;
	margin:1px;
	margin-top:0px;
	margin-bottom:0px;
	vertical-align:middle;
}
.grid_area tr.a td.column {
	background:#E3E3E3 !important;
}
.grid_area tr.a div.edit, .grid_area tr.item div.edit {
	background:#FFFFFF !important;
	border:1px solid #AAA !important;
}
.grid_area tr.sep, .grid_area tr.sep-active {
	height:0px;
	line-height:0px;
	font-size:0px;
	border:0px solid #000;
}
.grid_area tr.sort_active div.column {
	background:#FF0000 !important;
}
.grid_area tr.header {
	border:0px solid #00F;
}
.grid_area tr.header td.column {
	color:#FFF;
	border-bottom:2px solid #9b9a9a;
	font-weight:bold;
	white-space:nowrap;
	position:relative;
	overflow:hidden;
	z-index:10;
	text-shadow:1px 1px 0 #666;
}
.grid_area tr.header td.column {
	background:url('../images/grid_header_bgr.gif') bottom repeat-x #cacaca;
}
.grid_area tr.header td.over {
	border-bottom:2px solid #f9a049 !important;
	/*background:#EEE !important;*/
}
.grid_area tr.header td.column div.th {
	position:relative;
	padding:4px;
	padding-bottom:2px;
}
.grid_area tr.header td.column div.resize_column {
	/*cursor:e-resize;*/
	width:4px;
	height:23px;
	right:-2px;
	top:0px;
	border:0px solid #F00;
	background:url('../images/grid_resizer_bgr.gif') repeat-y;
	position:absolute;
	z-index:11;
	margin:0px;
	display:none;
}
.grid_area tr.header td.column label {
	/*padding-left:12px;*/
	white-space:nowrap;
	overflow:hidden;
}
.grid_area tr.header td.column div.sorter {
	position:absolute;
	right:3px;
	display:none;
}
.grid_area tr.header td.column div.sorter div {
	padding:1px;
	padding-left:3px;
	padding-right:3px;
}
.grid_area tr.header td.over div.sorter {
	display:block !important;
}

.list_item_value {
	border:0px solid #000;
}
.list_item_filter {
	margin:0px;
	padding:0px;
}
.list_item_edit {
	display:none;
	margin:0px;
	padding:0px;
	background:#FFF !important;
	position:relative;
}
.list_item_filter input, .list_item_edit input {
	width:100%;
	margin:0px;
	padding:0px;
	border:none;
	font-size:10px;
	font-family:Tahoma;
}
.list_item_filter input.date {
	width:30px;
	cursor:pointer;
} 
.list_item_edit input.date {
}
.list_item_filter select, .list_item_edit select {
	width:100%;
	padding:0px;
	margin:0px;
	border:none;
	font-size:10px;
	font-family:Tahoma;
}
.list_item_filter select {
	font-size:7px;
}
.list_item_edit textarea {
	width:100%;
	position:relative;
	height:100%;
	border:none;
	overflow:auto;
	margin:0px;
	padding:0px;
	font-size:11px;
	font-family:Tahoma;
}
.list_item_edit .edit_text_save {
	position:absolute;
	bottom:2px;
	right:2px;
	text-align:right;
	display:none;
}
.list_item_edit:hover .edit_text_save {
	display:block;
}
.list_item_edit .edit_text_save a {
	background:#CCC;
	padding:2px;
	padding-left:4px;
	padding-right:4px;
}
.w10 {
	width:10px !important;
}


.center {
	text-align:center;
}
.clear {
	clear:both;
}