ul.tree {
	list-style:none;
	padding:0px;
	margin:0px;
	margin-left:17px;
}
ul.tree li {
	margin:-1px;
	padding:-1px;
	white-space:nowrap;
	border:1px solid #F3F3F3;
}
ul.tree li.sep {
	font-size:0px;
	line-height:2px;
	height:2px;
}
ul.tree li img {
	border:none;
	padding:0px;
	margin:0px;
}
ul.tree li a {
	padding:1px;
	cursor:pointer;
	color:#666;
	font-size:10px;
	font-family:Verdana;
}
ul.tree li a:hover {
	text-decoration:underline;
}
ul.tree li a.active, .item-active a {
	background:#989898;
	color:#FFF;
}
.item-active li a {
	background:none;
	color:#000;
}
.contextMenu {
/*	position:absolute;
	display:none;
	z-index:1000;*/
	display:none;
}
#contextMenuArea, .contextMenu {
	position:absolute;
	display:none;
	z-index:1000;
	width:180px;
	background:#F30000;
	border:1px solid #787676;
	border-right:2px solid #585656;
	border-bottom:2px solid #585656;
}
#contextMenuArea div.text, .contextMenu div.text {
	padding:3px;
	background:#C8C6C6;
}
#contextMenuArea div.text div {
	padding:2px;
}
#contextMenuArea div.text div a {
	cursor:pointer;
	padding-left:2px;
	padding-right:5px;
}
#contextMenuArea div.text div a:hover {
	background:#FFF;
	text-decoration:none;
}
#contextMenuArea div.title, .contextMenu div.title {
	color:#FFF;
	padding:3px;
	background:#787676;
}
.sep-active {
	background:#F00;
	height:10px;
	line-height:10px;
}
.hide {
	display:none;
}
.show {
	display:block;
}
